body {
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #606060; 	
	margin: 0; 
	padding: 0; 
	text-align: center;
}
 
.codey {
	clear: both;
	background: #D0EAFF; 
	border: 1px solid #E4001B;
	font-family:Courier, 'New Courier', monospace;
	margin: 10px 0px 0px 15px;
	padding-bottom: 5px;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
	width: 850px;			
}

.clues {
	clear: both;
	background: #A5D1F3; 
	border: 1px solid #E4001B;
	margin: 10px 0px 0px 15px;
	padding-bottom: 5px;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
	width: 850px;			
}


.pic {
    width:70px;
    float:left;
}
 
/* Links */
a:link, a:visited {
	text-decoration: none;
	color: #6194BC;
}
a:hover {
	border-bottom: 1px dotted #6194BC;
}

 
/* Headers */
h1, h2, h3, h4 {
	font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
	color: #E4001B;
	margin: 10px 20px 7px 0px;	 
}
h1 { font-size: 3.7em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 2.8em; font-weight: normal; }
h3 { font-size: 2.2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px; }
h4 { font-size: 1.4em; }
 
/* Lists */
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: disc; }
#wrap {
	width: 850px;
	margin-left: 30px;
	text-align: left;	
}
ol { list-style: decimal; }

.prvnxt  {
	width:100px;
	border:1px;
	border-color:black;
	padding:5px;
	color:black;	
}

