	<%= link_to "Back", profile_path(@index) %>
	
	<h3>Prerequisites</h3>

	<p>Make sure you have installed prerequisites listed here first:</p>

	<table width="100%">
		<tr>
			<td width><strong> Operating System </strong></td>
			<td width="19%"><strong> Package Manager </strong></td>
			<td width="61%"><strong> Command to install dependencies </strong></td>
		</tr>
		<tr>
			<td> Ubuntu/Debian/... </td>
			<td> aptitude / apt-get  </td>
			<td> sudo aptitude install build-essential bison openssl libreadline6 libreadline6-dev curl git-core zlib1g zlib1g-dev libssl-dev libyaml-dev libsqlite3-0 libsqlite3-dev sqlite3 libxml2-dev libxslt-dev autoconf libc6-dev libsqlite3-dev </td>
		</tr>
		<tr>
			<td> RedHat/CentOS/Fedora/... </td>
			<td> yum                 </td>
			<td> sudo yum install -y bash curl git gcc-c++ patch readline readline-devel zlib zlib-devel libyaml-devel libffi-devel openssl-devel sqlite sqlite-devel </td>
		</tr>
		<tr>
			<td> ArchLinux                </td>
			<td> pacman              </td>
			<td> sudo pacman Sy -noconfirm gcc patch curl bison zlib readline libxml2 libxslt git autoconf diffutils patch bison make sqlite3 </td>
		</tr>
	</table>

	<h4>Launch Terminal</h4>

	<p>Open a new terminal window. To launch Terminal on OSX, you can either double click on the application in the Finder directory /Applications/Utilities/Terminal OR you can use spotlight by pressing &#8220;command + space&#8221; and typing &#8216;Terminal&#8217;, highlight the application when it shows and then press &#8220;return&#8221;</p>

	<h4> Rails Development Environment</h4>

	<p>Now we will bootstrap the RVM Rails development environment by running the following command in the Terminal application that you have opened:</p>

	<p>curl -O http://rvm.beginrescueend.com/src/bootstrap_rails_environment 
&#38;&#38; source ./bootstrap_rails_environment &#38;&#38; rm -f 
./bootstrap_rails_environment</p>

	<p>Once this has completed you should have git, RVM, Ruby 1.8.7, Rails<br />
and Bundler installed and you should be ready to get started in your<br />
~/Sites directory.</p>


