<p>
<%= link_to "Post Message", url_for(new_group_post_path(@group.id)) %>
</p>
<% @posts.each do |post| %>
<div class="post">
<%#=post.from.inspect%>
<span class="pic"><fb:profile-pic uid="<%=post.from.id%>" linked="false" size="q"></fb:profile-pic></span>
<span>
<%=post.message%><br/> 
<%= time_ago_in_words(post.updated_time) %> ago
</span>
</div> 		
<% end %>

<br/><br/>
